{% extends 'base.html.twig' %}

{% block title %}{% trans %}documents.index.site.title{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}documents.index.title{% endtrans %}</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-success" href="{{ path('documents_new') }}">
            {% trans %}documents.index.button.new{% endtrans %}
        </a>
    {% endif %}
    <table class="table">
        <thead>
        <tr>
            <th>{% trans %}documents.index.table.id{% endtrans %}</th>
            <th>{% trans %}documents.index.table.number{% endtrans %}</th>
            <th>{% trans %}documents.index.table.path{% endtrans %}</th>
            <th>{% trans %}documents.index.table.gov_path{% endtrans %}</th>
            <th>{% trans %}documents.index.table.actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td>{{ document.id }}</td>
                <td>{{ document.number }}</td>
                <td>{{ document.path }}</td>
                <td>{{ document.govPath }}</td>
                <td>
                    <a href="{{ path('documents_show', {'id': document.id}) }}">
                        <span class="badge badge-info">
                            {% trans %}documents.index.table.button.show{% endtrans %}
                        </span>
                    </a>
                    {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('documents_edit', {'id': document.id}) }}">
                        <span class="badge badge-info">
                            {% trans %}documents.index.table.button.edit{% endtrans %}
                        </span>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{% trans %}documents.index.table.no_found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
