{% block body %}
<table class="table">
    <thead class="thead-light">
    <tr>
        <th>Id</th>
        <th>Firstname</th>
        <th>Secondname</th>
        <th>Surname</th>
        <th>Link</th>
        <th>Photo</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for deputy in deputies %}
        <tr>
            <td>{{ deputy.id }}</td>
            <td>{{ deputy.firstname }}</td>
            <td>{{ deputy.middlename }}</td>
            <td>{{ deputy.surname }}</td>
            <td><a href="{{ deputy.link }}"><span class="badge badge-info">gov site</span></a></td>
            <td><img src="{{ deputy.photo }}" /></td>
            <td>
                <a href="{{ path('deputies_show', {'id': deputy.id}) }}"><span class="badge badge-info">show</span></a>
                <a href="{{ path('deputies_edit', {'id': deputy.id}) }}"><span class="badge badge-info">edit</span></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="7">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}