{% extends 'base.html.twig' %}

{% block title %}GovernmentParties index{% endblock %}

{% block body %}
    <h1>GovernmentParties index</h1>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Abbreviation</th>
                <th>Logo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for government_party in government_parties %}
            <tr>
                <td>{{ government_party.id }}</td>
                <td>{{ government_party.name }}</td>
                <td>{{ government_party.abbreviation }}</td>
                <td><img src="{{ government_party.logo }}" height="53px"/></td>
                <td>
                    <a href="{{ path('government_parties_show', {'id': government_party.id}) }}"><span class="badge badge-info">show</span></a>
                    <a href="{{ path('government_parties_edit', {'id': government_party.id}) }}"><span class="badge badge-info">edit</span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('government_parties_new') }}">Create new</a>
{% endblock %}
