{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}government_parties.index.site.title{% endtrans %}
{% endblock %}

{% block body %}
    <h1>{% trans %}government_parties.index.title{% endtrans %}</h1>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th>{% trans %}government_parties.index.table.id{% endtrans %}</th>
            <th>{% trans %}government_parties.index.table.name{% endtrans %}</th>
            <th>{% trans %}government_parties.index.table.abbreviation{% endtrans %}</th>
            <th>{% trans %}government_parties.index.table.logo{% endtrans %}</th>
            <th>{% trans %}government_parties.index.table.actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for government_party in government_parties %}
            <tr>
                <td>{{ government_party.id }}</td>
                <td>{{ government_party.name }}</td>
                <td>{{ government_party.abbreviation }}</td>
                <td><img src="{{ government_party.logo }}" height="53px"/></td>
                <td>
                    <a href="{{ path('government_parties_show', {'id': government_party.id}) }}">
                        <span class="badge badge-info">
                            {% trans %}government_parties.index.table.button.show{% endtrans %}
                        </span>
                    </a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('government_parties_edit', {'id': government_party.id}) }}">
                        <span class="badge badge-info">
                            {% trans %}government_parties.index.table.button.edit{% endtrans %}
                        </span>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">
                    {% trans %}government_parties.index.table.no_records{% endtrans %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-success" href="{{ path('government_parties_new') }}">
            {% trans %}government_parties.index.button.new{% endtrans %}
        </a>
    {% endif %}
{% endblock %}
