<table class="table">
    <tr>
        {# sorting of properties based on query components #}
        <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
        <th{% if pagination.isSorted('a.deputies') %} class="sorted"{% endif %}>
            {{ knp_pagination_sortable(pagination, 'Deputeis', 'a.deputies') }}
        </th>
        <th>Parties logo</th>
        <th{% if pagination.isSorted('a.vote') %} class="sorted"{% endif %}>
            {{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}
        </th>
        <th{% if pagination.isSorted('a.voteResult') %} class="sorted"{% endif %}>
            {{ knp_pagination_sortable(pagination, 'Vote result', 'a.voteResult') }}
        </th>
    </tr>

    {# table body #}
    {% for article in pagination %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
            <td>{{ article.id }}</td>
            <td>
                {{ article.deputies.firstname }} {{ article.deputies.middlename }} {{ article.deputies.surname }}

            </td>
            <td><img src="{{ article.deputies.governmentParties.logo }}" height="20"/></td>
            <td>{{ article.vote.title }}</td>
            <td>{{ article.voteResult }}</td>
        </tr>
    {% endfor %}
</table>