{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}government_meetings_date.show.site.title{% endtrans %}: {{ government_meetings_date.date ? government_meetings_date.date|date('Y-m-d') : '' }}
{% endblock %}

{% block body %}
    <h1>{% trans %}government_meetings_date.show.title{% endtrans %}
        : {{ government_meetings_date.date ? government_meetings_date.date|date('Y-m-d') : '' }}</h1>

    
    <a class="btn btn-primary" href="{{ path('government_meetings_date_index') }}">
        {% trans %}government_meetings_date.show.button.back{% endtrans %}
    </a>
    {% if is_granted("ROLE_ADMIN") %}
        <a class="btn btn-primary"
           href="{{ path('government_meetings_date_edit', {'id': government_meetings_date.id}) }}">
            {% trans %}government_meetings_date.show.button.edit{% endtrans %}
        </a>

        {{ include('government_meetings_date/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
