{% extends 'base.html.twig' %}

{% block title %}{% trans %}votes.show.site.title{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}votes.show.title{% endtrans %}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>{% trans %}votes.show.table.id{% endtrans %}</th>
            <td>{{ vote.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}votes.show.table.date{% endtrans %}</th>
            <td>{{ vote.date ? vote.date|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>{% trans %}votes.show.table.hour{% endtrans %}</th>
            <td>{{ vote.hour ? vote.hour|date('H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>{% trans %}votes.show.table.title{% endtrans %}</th>
            <td>{{ vote.title }}</td>
        </tr>
        <tr>
            <th>{% trans %}votes.show.table.agenda_item{% endtrans %}</th>
            <td>{{ vote.agendaItem }}</td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('votes_index') }}">{% trans %}votes.show.button.back{% endtrans %}</a>
    {% if is_granted("ROLE_ADMIN") %}
        <a class="btn btn-primary" href="{{ path('votes_edit', {'id': vote.id}) }}">
            {% trans %}votes.show.button.edit{% endtrans %}
        </a>

        {{ include('votes/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
